<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="navbar">
        <p>Home</p>
        <p> | </p>
        <p><a href="/projects">Projects</a></p>
        <p> | </p>
        <p><a href="contact">Contact</a></p>
    </div>
    <h1 class="center">About Me</h1>
    <div class="content">
        <div class="left">
            <img src="~/img/Profile.jpg" alt="Jared" />
            <p>Jared Waine</p>
            <p>I'm getting into coding!</p>
        </div>
        <div class="right">
            <p>Formerly living in Los Angeles, I'm now living in Connecticut and transitioning into the software development field! I'm doing this portfolio assignment as some practice in C#!</p>
        </div>
    </div>
</body>
</html>