<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="navbar">
        <p><a href="/">Home</a></p>
        <p> | </p>
        <p>Projects</p>
        <p> | </p>
        <p><a href="contact">Contact</a></p>
    </div>
    <h1 class="center">Here are some of my projects</h1>
    <div>
        <img src="~/img/Deku.png" alt="Deku">
        <div>
            <h4>My My Hero Academia Academia</h4>
            <p>A site for learning about the characters of My Hero Academia!</p>
        </div>
    </div>
    <div>
        <img src="~/img/Hollywood_Sign.jpg" alt="Hollywood sign">
        <div>
            <h4>L.A. Parker</h4>
            <p>A site for adding, updating, and viewing free street parking spots in Los Angeles!</p>
        </div>
    </div>
    <div>
        <img src="~/img/Portfolio.jpg" alt="Portfolio">
        <div>
            <h4>Portfolio</h4>
            <p>This very site you're visiting right now!</p>
        </div>
    </div>
</body>
</html>